<mat-card class="bg-white p-0 w-full cursor-pointer hover:bg-slate-100">
  <div class="flex flex-row content-end w-7/12 m-auto gap-10">
    <button class="ml-auto" mat-icon-button (click)="edit(product)">
      <mat-icon color="primary" class="mat-18">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(product)">
      <mat-icon color="warn" class="mat-18">delete</mat-icon>
    </button>
  </div>
  <img
    [routerLink]="[product.id]"
    src="{{ product.imageUrl }}"
    class="w-full"
  />
  <mat-card-content class="text-black mx-3 pb-6">
    <a
      [routerLink]="[product.id]"
      class="text-black hover:underline visited:text-purple-400"
      >{{
        product.name.split("").length > 50
          ? product.name.slice(0, 50) + "..."
          : product.name
      }}</a
    >
    <div class="flex flex-row products-center">
      <mat-icon class="mat-18" *ngFor="let i of [0, 1, 2, 3, 4]">{{
        product.rating >= i + 1
          ? "star"
          : product.rating > i
          ? "star_half"
          : "star_border"
      }}</mat-icon>
      <span *ngIf="product.ratedByCount > 0">
        ({{ product.ratedByCount }})
      </span>
    </div>
    <h4 class="font-semibold">{{ product.price | currency: "ETB" }}</h4>
    <p *ngIf="product.discount > 0" class="text-green-500">
      Discount: {{ product.discount | percent }}
    </p>
  </mat-card-content>
</mat-card>
